*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --backgroundColor: #FEF852;
  --backgroundColorSecondary: #FFFC94;
  --textPrimaryColor: #2A2A2A;

  --headlineBig: clamp(3rem, 10vw, 15rem);
  --headlineSmall: clamp(1rem, 1.2vw, 6rem);
}

body {
  font-family: 'Montserrat', sans-serif;
}